<html>
<head>
    <title>Shelter - <%= result[0].ShelterID %></title>
</head>
<body>
<h1>Shelter</h1>
<ul>
    <li>Shelter ID: <%= result[0].ShelterID%></li>
    <li>Shelter Name: <%= result[0].SName %></li>
    <li>Dog ID: <%= result[0].DogID %></li>
</ul>
</body>

</html>