<html>
<head>
    <title>Add New Breed</title>
</head>
<body>
<h1>Add New Breed</h1>
<form action="/Breed/insert" method="get">
    Breed Name: <input id="Name" name="Name" type="text" />
    <br />
    <br />
    Hair Length:
    <select id="HairLength" name="HairLength">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].Breed_ID %>"><%= result[i].Name + ', ' + result[i].HairLength %></option>
        <% } %>
    </select>

    <input type="submit" />

</form>
</body>

</html>
