<html>
<head>
    <title>Breeds - <%= result[0].Name %></title>
</head>
<body>
    <h1>Breeds</h1>
    <ul>
        <li>Breed ID: <%= result[0].Breed_ID%></li>
        <li>Breed Name: <%= result[0].Name %></li>
        <li>Hair Length: <%= result[0].HairLength %></li>
    </ul>
</body>

</html>