<html>
<head>
    <title>Add New Breed</title>
</head>
<body>
<h1>Add New Breed</h1>
<form action="/Breed/insert" method="get">
    Breed Name: <input id="Name" name="Name" type="text" />
    <br />
    Hair Length: <input id="HairLength" name="HairLength" type="text" />
    <br />
    <br />


    <input type="submit" />

</form>
</body>

</html>
