<html>
<head>
    <title>
        Edit
    </title>
</head>
<body>
<form action = "/Breed/Update/?Breed_ID = <%=result%>">
    Breed Name: <input id = "Name" type = "text" name = "Name"/>
    Hair Length: <input id = "HairLength" type = "text" name = "HairLength"/>
    <input type="hidden" name="Breed_ID" id="Breed_ID" value="<%= result %>" />
    <input type="submit">

</form>
</body>
</html>