<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/Behavior/all">Behavior - View All</a> <br />
    <a href="/Breed/all">Breed - View All</a> <br />
    <a href="/Dogs/all">Dogs - View All</a> <br />
    <a href="/Shelter/all">Shelter - View All</a> <br />


    <br />

  </body>
</html>
