<html>
<head>
    <title>Dogs - <%= result[0].Sex %></title>
</head>
<body>
<h1>Dogs</h1>
<ul>
    <li>Dog ID: <%= result[0].DogID%></li>
    <li>Dog Name: <%= result[0].Dame %></li>
</ul>
</body>

</html>