<html>
<head>
    <title>Add New Dog</title>
</head>
<body>
<h1>Add New Dog</h1>
<form action="/Dogs/insert" method="get">
    Dog Name: <input id="DName" name="DName" type="text" />
    <br />
    Dog Sex: <input id="Sex" name="Sex" type="text" />
    <br />
    Birthdate: <input id="Birthdate" name="Birthdate" type="text" />
    <br />
    <br />


    <input type="submit" />

</form>
</body>

</html>
