<html>
<head>
    <title>
        About
    </title>
</head>
<body>
<h1>Welcome to the Best Day of Your Life...Adoption Day!</h1>
<p>This website will help you find your new best friend!</p>
<br />
    <p>As "Dog Adoption Day", we strive to find homes for all of our dogs, young, old, and hopeful.</p>
    <p>We were established in 2016 in Sonoma, CA.  We link you to adoptions all throughout the Bay Area
        in hopes of finding</p>
    <p>every dog a loving home, and every home a loving dog.  The primary goal of this database
is to log various dogs that are available for adoption at different shelters in the area.  I entered numerous shelters in the Bay Area that could currently have dogs up for adoption, and listed them as follows.


<br />
    <br />

    <img src="/images/ERDiagram.png" style="width:310px;height:240px";>
    <br />
    <img src="/images/RelationalSchema.png" style="width:310px;height:240px;">
<p>
    To find your forever friend, contact us at 1-800-SSU-DOGS
</p>


</body>



</html>