<html>
<head>
    <title>Behavior - <%= result[0].Behavior_ID %></title>
</head>
<body>
<h1>Behavior</h1>
<ul>
    <li>Behavior ID: <%= result[0].company_id%></li>
    <li>Aggressive? <%= result[0].Aggressive %></li>
</ul>
</body>

</html>