<html>
<head>
    <title>Add New Behavior</title>
</head>
<body>
<h1>Add New Behavior</h1>
<form action="/Behavior/insert" method="get">
    Behavior: <input id="Behavior_ID" name="Behavior_ID" type="text" />
    <br />
    <br />

    Does the Dog Get Along With Children?
    <input id="GetsAlongWithChildren" name="GetsAlongWithChildren" type="text" />
    <br />
    Does the Dog Get Along With Other Animals?
    <input id="GetsAlongWithAnimals" name="GetsAlongWithAnimals" type="text" />
    <br />
    Is the Dog Aggressive?
    <input id="Aggressive" name="Aggressive" type="text" />


    <input type="submit" />

</form>
</body>

</html>